@model IEnumerable<ManagementArsip.Models.Barang>

@{
    ViewData["Title"] = "Barang";
}

<h1>Barang</h1>

<p>
    <a asp-action="Create">Tambahkan Data Barang</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Deskripsi Barang")
            </th>
            <th>
                @Html.DisplayName("Kode Barang")
            </th>
            <th>
                @Html.DisplayName("Tahun Pengadaan")
            </th>
            <th>
                @Html.DisplayName("Merk Barang")
            </th>
            <th>
                @Html.DisplayName("Status Barang")
            </th>
            <th>
                @Html.DisplayName("ID User")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeskripsiBarang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KodeBarang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TahunPengadaan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MerkBarang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StatusBarang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUser)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdBarang">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdBarang">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdBarang">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
