@model IEnumerable<ManagementArsip.Models.Lokasi>

@{
    ViewData["Title"] = "Lokasi";
}

<h1>Lokasi</h1>

<p>
    <a asp-action="Create">Tambahkan Lokasi</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Nama Lokasi")
            </th>
            <th>
                @Html.DisplayName("ID User")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NamaLokasi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUser)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdLokasi">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdLokasi">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdLokasi">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
