@model IEnumerable<ManagementArsip.Models.Peminjaman>

@{
    ViewData["Title"] = "Peminjaman";
}

<h1>Peminjaman</h1>

<p>
    <a asp-action="Create">Tambahkan Peminjaman</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Tanggal Peminjaman")
            </th>
            <th>
                @Html.DisplayName("ID Barang")
            </th>
            <th>
                @Html.DisplayName("Tanggal Pengembalian")
            </th>
            <th>
                @Html.DisplayName("Deskripsi Peminjaman")
            </th>
            <th>
                @Html.DisplayName("Jumlah Peminjaman")
            </th>
            <th>
                @Html.DisplayName("ID User")
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TanggalPeminjaman)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdBarang)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TanggalPengembalian)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeskripsiPeminjaman)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JumlahPeminjaman)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdUser)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPeminjaman">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPeminjaman">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPeminjaman">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
